## Project 4-2 : Data Acquisition SQL

## Assignment Instructions

### Description

Some SQL problems.

### Grading

For grading purposes, we will clear all outputs from all your cells and then run them all from the top.  Please test your notebook in the same fashion before turning it in.

### Submitting Your Solution

To submit your notebook, first clear all the cells (this won't matter too much this time, but for larger data sets in the future, it will make the file smaller).  Then use the File->Download As->Notebook to obtain the notebook file.  Finally, submit the notebook file on Canvas.

In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from sqlalchemy import create_engine, inspect

### Problem: SQL (50 points)

Use the csci303 database downloaded in class and code provided (12-SQL_New) to answer the following questions.  Note that you can answer every one of these questions just with single SQL queries, but you are free to instead pull data into pandas and answer the questions that way, or use multiple queries, etc.

The data you'll be working with is from the [Bureau of Labor Statistics](https://www.bls.gov/emp/documentation/education-training-system.htm).
<br>There are three tables:
- `occupation_codes` provides a mapping between two different organization's occupation codes and titles.  You'll need this table to lookup occupation codes for the other two tables.
- `occupation_attainments` gives the percentages of workers (aged 25 or older) in each occupation (in 2014-2015) who had attained a particular level of education.
- `occupation_assignments` gives requirements for each occupation in terms of education, experience, and on-the-job training.

The code to inspect the names and types of the columns in thses tables is given below. Feel free to comment this out once you get a feel for the table structures.

## SET UP

To set up we have to create an inspector on the database to get the information we need! To do so we will follow these steps:
1. Create a Database variable, this holds the name of the database you downloaded for this assignment!
2. Create an inspector object and create_engine on the database object from # 1
3. Print out information from the database to gain a better understanding of what it contains!

---

**Questions for Set Up (Edit this cell):**

---

(a) What is the variable type of the acs_code column?

acs_code is an integer type

(b) What does the 'Real' column type mean?

It means that the value is an approximate

(c) What column(s) are shared amongst the three tables? This is how they are related!!

They all have a soc_code

In [5]:
#FINISH THIS CODE

dburi = 'sqlite:///csci303.sqlite3' # Data base connection!
inspector = inspect(create_engine(dburi)) # Here we have created an inspector to take a look at the db!

tables = list(filter(lambda name: "occupation" in name, inspector.get_table_names()))

# Loop through the tables list and print all of the table names and columns
for table in tables:
    print("Table name: ", table) # Print the table name (table)
    for column in inspector.get_columns(table): # Print the column name and type, think of the column as a dataframe, column['xxx']
         print("Column name: %s: %s" % (column['name'], column['type'])) # TODO enter in what you want from the columns
    print()

Table name:  occupation_assignments
Column name: soc_code: TEXT
Column name: education: TEXT
Column name: experience: TEXT
Column name: on_the_job: TEXT

Table name:  occupation_attainments
Column name: soc_code: TEXT
Column name: less_than_hs: REAL
Column name: hs_or_equivalent: REAL
Column name: some_college: REAL
Column name: associates: REAL
Column name: bachelors: REAL
Column name: masters: REAL
Column name: doctoral_or_professional: REAL

Table name:  occupation_codes
Column name: sort_order: INTEGER
Column name: soc_code: TEXT
Column name: soc_title: TEXT
Column name: acs_code: INTEGER
Column name: acs_title: TEXT

---

**Questions for Problem 2 (Edit this cell):**

---

(a) What are the SOC and ACS codes for 'Database administrators ' - (this may have a space at the end)?

The soc_code is 15-1141 and the acs_code is 1060

(b) How many SOC occupation titles are there grouped under the ACS title 'Postsecondary teachers'?

There are 38 occupation titles with a ACS title of 'Postsecondary teachers'

(c) How much education and prior experience do you typically need to become a software developer?

According to the database you need a bachelors degree and no prior experience

(d) What SOC occupation has the highest percentage of doctoral or professional degree holders?

The occupation with the highest percentage of doctoral or professional degrees is a podiatrist

EXTRA CREDIT: (5pts) What acs_title has the longest length? (There are two right answers!)

In [6]:
# YOUR CODE HERE
# pd.DataFrame(inspector.get_columns('occupation_codes'))

# #part A
# pd.read_sql_query("SELECT * FROM occupation_codes WHERE soc_title='Database administrators '", dburi)

# #part B
# pd.read_sql_query("SELECT * FROM occupation_codes WHERE acs_title='Postsecondary teachers'", dburi)

# #part C
# pd.read_sql_query("SELECT * FROM occupation_codes WHERE lower(acs_title) LIKE '%%software'", dburi)
# # the soc_code for a software developer is either 15-1132 or 15-1133
# pd.DataFrame(inspector.get_columns('occupation_assignments'))
# pd.read_sql_query("SELECT * FROM occupation_assignments WHERE soc_code='15-1133'", dburi)

# #part D
# pd.DataFrame(inspector.get_columns('occupation_attainments'))
# pd.read_sql_query("SELECT * FROM occupation_attainments ORDER BY doctoral_or_professional", dburi)
# # soc_code 29-1081 has the most doctoral or profesional degree holders at 99.09998

# Extra credit
# pd.Dataframe(inspector.get_columns('occupation_assignments'))
# pd.read_sql_query("SELECT acs_title FROM occupation_assignments ORDER BY length(acs_title) DESC", dburi)
# 'Miscellaneous food preparation and serving related workers, including dining room and cafeteria attendants and bartender helpers' is the longest acs_title

pd.DataFrame(inspector.get_columns('occupation_codes'))
pd.read_sql_query("SELECT * FROM occupation_codes WHERE soc_code='29-1081'", dburi)

AttributeError: 'OptionEngine' object has no attribute 'execute'

### Questionnaire
1) How long did you spend on this assignment? Roughly 2.5 hours
<br><br>
2) What did you like about it? What did you not like about it? Im taking DB management right now so it was cool to actually be able to access a SQL database using stuff from another class in python.
<br><br>
3) Did you find any errors or is there anything you would like changed? None that I could find.
<br><br>